.App {
  text-align: center;
}

.form-container {
  background-image: url("./img/bg.jpg");
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.form input {
  width: 50%;
}
.item-name {
  display: flex;
  margin: 20px;
  justify-items: center;
  min-width: 300px;
}
.graph-containers {
  margin: 20px;
  display: flex;

  width: 400px;
  height: 300px;
}
